<h1>Listing published_documents</h1>

<table>
  <tr>
    <th>Publishing uuid</th>
    <th>Document uuid</th>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Author email</th>
    <th>Page count</th>
    <th>Persistence url</th>
    <th>Has pdf</th>
    <th>Has ubz</th>
  </tr>

<% @published_documents.each do |published_document| %>
  <tr>
    <td><%=h published_document.publishing_uuid %></td>
    <td><%=h published_document.document_uuid %></td>
    <td><%=h published_document.title %></td>
    <td><%=h published_document.description %></td>
    <td><%=h published_document.author %></td>
    <td><%=h published_document.author_email %></td>
    <td><%=h published_document.page_count %></td>
    <td><%=h published_document.persistence_url %></td>
    <td><%=h published_document.has_pdf %></td>
    <td><%=h published_document.has_ubz %></td>
    <td><%= link_to 'Show', published_document %></td>
    <td><%= link_to 'Edit', edit_published_document_path(published_document) %></td>
    <td><%= link_to 'Destroy', published_document, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New published_document', new_published_document_path %>