<p>
  <b>Publishing uuid:</b>
  <%=h @published_document.publishing_uuid %>
</p>

<p>
  <b>Document uuid:</b>
  <%=h @published_document.document_uuid %>
</p>

<p>
  <b>Title:</b>
  <%=h @published_document.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @published_document.description %>
</p>

<p>
  <b>Author:</b>
  <%=h @published_document.author %>
</p>

<p>
  <b>Author email:</b>
  <%=h @published_document.author_email %>
</p>

<p>
  <b>Page count:</b>
  <%=h @published_document.page_count %>
</p>

<p>
  <b>Persistence url:</b>
  <%=h @published_document.persistence_url %>
</p>

<p>
  <b>Has pdf:</b>
  <%=h @published_document.has_pdf %>
</p>

<p>
  <b>Has ubz:</b>
  <%=h @published_document.has_ubz %>
</p>


<%= link_to 'Edit', edit_published_document_path(@published_document) %> |
<%= link_to 'Back', published_documents_path %>