<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= @published_document.title %></title>
	<meta name="title" content='<%= @published_document.title %>'>
	<meta name="description" content='<%= @published_document.description %>'>
	<link rel="image_src" href='<%= @published_document.persistence_url %>/page001.thumbnail.jpg'>

	<style type="text/css">
	  @import url(/uniboard-player/stylesheets/reset.css);
	  @import url(/uniboard-player/stylesheets/master.css);
	</style>
	
	<!-- Libraries -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/uniboard-player/scripts/jquery-ui-1.8rc3.custom.min.js"></script>
  <script type="text/javascript" src="/uniboard-player/scripts/jquery.easing.1.3.js"></script>
  
  <!-- Uniboard-player -->
	<script type="text/javascript" src="/uniboard-player/scripts/ubplayer.js"></script>
	<script type="text/javascript" src="/uniboard-player/scripts/ubplayer.player.js"></script>
	<script type="text/javascript" src="/uniboard-player/scripts/ubplayer.viewer.js"></script>
	
	<script type="text/javascript">
	
	var myUbPlayer = null;
	
	jQuery(document).ready(function(){
	  
	  var args = {
	    documentData:{
  	    author:'<%= @published_document.author %>',
  	    authorEmail:'<%= @published_document.author_email %>',
  	    title:'<%= @published_document.title %>',
  	    description:'<%= @published_document.description %>',
  	    publishedAt:'<%= @published_document.created_at %>',
  	    uuid:'<%= @published_document.publishing_uuid %>',
  	    hasPdf:'<%= @published_document.has_pdf %>',
  	    hasUbz:'<%= @published_document.has_ubz %>',
  	    numberOfPages:'<%= @published_document.page_count %>',
  	    pagesBaseUrl:'<%= @published_document.persistence_url %>'
  	  }
	  };
	  
	  myUbPlayer = new UbPlayer.Player(args);
	});
	
	</script>
	
</head>

<body>

  <div id="head">
    <a href="http://www.getuniboard.com"><img src="/uniboard-player/images/logo-uniboard.png" id="logo-uniboard"></a>
    <div id="document-title">
      <ul>
        <li id="data-document-title"></li>
        <li id="data-document-author">&nbsp;<a id="moreLink" href="#">More…</a>&nbsp;<a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a>
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></li>
      </ul>
    </div>
    <div class="menu-button" id="head-button-close"></div>
  </div>

  <div id="body">
    <div id="boards">
      <!-- Current board -->
      <div class="board" id="board-current">
        <div class="board-button">
          <div class="board-button-unit" id="board-button-previous"></div>
        </div>
        <iframe class="page" id="current-page" src=""></iframe>
        <div class="board-button">
          <div class="board-button-unit" id="board-button-next"></div>
        </div>
        <!-- App Viewer -->
        <div id="app-viewer">
          <div id="app-viewer-c"><!-- table -->
            <div id="app-viewer-appcanvas"><!-- table-cell -->
              <iframe id="app-viewer-app" src=""></iframe><!-- vertical and horizontal centered iframe -->
            </div>
          </div>
        </div>
      </div>
    </div><!--boards-->
    <div id="index">
    </div><!--index-->
    <div id="description">
      <div id="description-text"></div>
    </div><!--description-->
  </div>

  <div id="foot">
    <div style="position:relative; height:100%">
   <div id="thumbnails">
      <div id="thumbnails-slider-handler"></div>
      <div id="thumbnails-slider"><div class="thumbnails-slider-page"></div></div>
      <div style="width:40px; height:80px; position:absolute; top:45px; left:0px; color:red; font-size:10px; line-height:80px; text-decoration:underline; letter-spacing:normal" id="thumbnail-previous" class="disabled"></div>
      <div id="thumbnails-canvas">
        <div class="thumbnail"><img src="" alt="thumbnail" height="100%" width="auto"/></div>
      </div>
      <div style="width:40px; height:80px; position:absolute; top:45px; left:100%; margin-left:-41px; color:red; font-size:10px; line-height:80px; text-decoration:underline; letter-spacing:normal" id="thumbnail-next"></div>
    </div><!--thumbnails-->
    <div class="menu bottom">
      <div class="menu-box-left menu-box">
        <div class="menu-button" id="menu-button-showthumbnails" title="Show the thumbnails" alt="Show thumbnails button"></div>
        <div style="display:block; float:left; height:31px; margin-left:10px; line-height:42px"><input id="menubottom-input" type="text"></div>
      </div>
      <div class="menu-box-center menu-box">
        <div class="menu-button" id="menu-button-previous" title="Previous page" alt="Previous page button"></div>
        <div class="menu-button" id="menu-button-index" title="Show the index" alt="Show index button"></div>
        <div class="menu-button" id="menu-button-next" title="Next page" alt="Next page button"></div>
      </div>
      <div class="menu-box-right menu-box">
        <div class="menu-button" id="menu-button-full" title="Switch to full mode" alt="Full mode button"></div>
        <div class="menu-button" id="menu-button-export" title="Export this document as…" alt="Export button">
          <div id="menu-button-export-left"></div>
          <div id="menu-button-export-center">Export as…</div>
          <div id="menu-button-export-right"></div>
        </div>
        <div id="menu-export-dropdown"><ul><li id="menu-export-hasPdf"><a href="#" target="_blank">.PDF</a></li><li id="menu-export-hasUbz"><a href="#" target="_blank">.UBZ</a></li></ul></div>
      </div>
    </div>
    </div>
  </div>

</body>
</html>
