<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title><%= @published_capture.title %></title>
    <meta name="title" content="<%= @published_capture.title %>">
    <meta name="description" content="<%= @published_capture.description %>">
    <link rel="image_src" href="<%= @published_capture.public_url %>">
</head>

<body>
    <img src="<%= @published_capture.public_url %>">
</body>

</html>
